# IDE/editors settings
.vscode
.vs

# Node.js/TypeScirpt/JavaScript
*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# Python
venv
__pycache__
.mypy_cache
